//adattare metas
%link{:rel=>"canonical", :href=>"http://millbo.com"}
%link{:href=>"https://plus.google.com/", :rel=>"publisher"}
%meta{:name => "description", :content => "#{t("description-meta_messages")}"}
%meta{:name => "viewport", :content => "initial-scale=1, maximum-scale=1"}
%meta{:name => "apple-mobile-web-app-capable", :content =>"yes"}
%meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
%meta{:name => "keywords", :content => "" }

%meta{:property=>"og:title", :content=>"Millbo"}
%meta{:property=>"og:type", :content=>"website"}
%meta{:property=>"og:description", :content => "#{t("description-meta_messages")}"}
%meta{:property=>"og:url", :content=>"http://milllbo.com"}
%meta{:property=>"og:image", :content=>"http://milllbo.com/images/gallery-1.jpg"}
%meta{:property=>"og:site_name", :content=>"Millbo"}


%meta{:property=>"twitter:card", :content=>"summary_large_image"}
%meta{:property=>"twitter:url", :content=>"http://millbo.com"}
%meta{:property=>"twitter:title", :content=>"Millbo"}
%meta{:property=>"twitter:creator", :content=>"@rewendbooks"}
%meta{:property=>"twitter:description", :content=> "#{t("description-meta_messages")}"}
%meta{:property=>"twitter:image:src", :content=>"http://rewend.eu/images/gallery-1.jpg"}
%meta{:property=>"twitter:domain", :content=>"millbo.com"}
%meta{:property=>"twitter:site", :content=>"@rewendbooks"}