#aboutus.section
  .left3

    %h2
      = I18n.t("about.title")
  .right9
    %p.desc
      = I18n.t("about.description")
    = image_tag "millbo_logo_certificazione-01.png"
    = image_tag "millbo_logo_certificazione-02.png"