#certificate.section
  .left3
    %h2
      = t("certificates.title")
  .right9
    %p.desc
      = t("certificates.description")

  .button-container
    %a.button{href:"#{I18n.t("certificates.page-url")}", target: "_blank"}
      = t("certificates.button-text")