#contactus.section
  .left3
    %h2
      = I18n.t("contacts.title")
  .right10
    %p.desc
      = I18n.t("contacts.description")
    .button-box
      %a.button{href:"#{I18n.t("contacts.page-url")}"}
        = t("contacts.button-text")