%form#contactus-form.contact-form{action: "form_data.php", method: "post", novalidate: ""}
  %input#name.form-name{name: "name", placeholder: I18n.t("form.name"), type: "text"}/
  %input#email.form-email{name: "company", placeholder: I18n.t("form.company"), type: "text"}/
  %input#nationality.form-email{name: "country", placeholder: I18n.t("form.country"), type: "text"}/
  %input#company.form-email{name: "email", placeholder: I18n.t("form.email"), type: "email"}/
  %input#phone.form-phone{name: "phone", placeholder: I18n.t("form.phone"), type: "text"}/
  %input#object.form-message{name: "subject", placeholder: I18n.t("form.object")}
  %textarea#message.form-message{name: "message", placeholder: I18n.t("form.message")}
  .button-container
    %button.btn.lightgreen
      = I18n.t("form.button")
