#contactus.section
  .left3
    %h2
      = I18n.t("contacts.title")
  .right10
    %p.desc
      = I18n.t("contacts.description-page")
    .links
      .column
        %h3.location
          = t("contactus.item1")
        %ul
          %li.name
            Matei I. Florentin
          %li.mail
            %a{href:"mailto:f.matei@millbo.it"}
              f.matei@millbo.it

      .column
        %h3
          = t("contactus.item2")
        %ul
          %li.name
            Customer Care
          %li.mail
            %a{href:"#"}
              customercare@millbo.it