---
title: "main page"
metas: "main"
---
= partial "partials/header"
#container
  .logo-left
  #aboutus
    .left3
      %h2
        ENZIMI
    .right9
      %p.desc
        Una selezione per tutti gli usi: dai più comuni ai più specifici. Massima performance in volume e freschezza con il massimo della naturalità.
  #table
    %table{:cellspacing => "0"}
      %thead
        %tr.odd
          %th Codice
          %th Prodotto
          %th Descrizione
          %th.special Dosaggi
      %tbody
        %tr.even
          %th.numeric 1171
          %td.numeric M 100 BAKERMATE
          %td.numeric Alfa amilasi
          %td.numeric T1 – 10 ppm
        %tr.odd
          %th.numeric 1118
          %td.numeric M 200 P
          %td.numeric Xilanasi
          %td.numeric 5 – 50 ppm
        %tr.even
          %th.numeric 1159
          %td.numeric ML 210 N
          %td.numeric Amilasi antistaling
          %td.numeric 10- 100 ppm 
        %tr.odd
          %th.numeric 1133
          %td.numeric ML 210 C
          %td.numeric Amilasi antistaling
          %td.numeric 40- 100 ppm
        %tr.even
          %th.numeric 1108
          %td.numeric M 300 B4
          %td.numeric Glucosio ossidasi
          %td.numeric 5 – 60 ppm
        %tr.odd
          %th.numeric 1124
          %td.numeric M 300 LP
          %td.numeric Lipasi
          %td.numeric 5 – 60 ppm
        %tr.even
          %th.numeric 2600
          %td.numeric M 213 L
          %td.numeric Coadiuvante tecnologico per prodotti da forno: enzima per prodotti da forno
          %td.numeric 100-200 ppm
        %tr.odd
          %th.numeric 2601
          %td.numeric M 213 H
          %td.numeric Coadiuvante tecnologico per prodotti da forno: enzima per prodotti da forno
          %td.numeric 200-300 ppm
        %tr.even
          %th.numeric 1135
          %td.numeric M 500 FL
          %td.numeric Amilasi antistaling
          %td.numeric 40 – 100 ppm
        %tr.odd
          %th.numeric 1123
          %td.numeric M 500 NS
          %td.numeric Amilasi antistaling
          %td.numeric 100 – 300 ppm
        %tr.even
          %th.numeric 1172
          %td.numeric M 920
          %td.numeric Proteasi
          %td.numeric 10 – 100 ppm
    .button-container
      %a.button{href:"/pdf/fermenti.pdf", target: "_blank"}
        SCARICA FERMENTI IN PDF 
  = partial "partials/footer"         
