%form#login-form.contact-form{action: "", method: "post", novalidate: ""}
  %input#name.form-name{name: "email", placeholder: I18n.t("contacts.form.name"), type: "text"}/
  %input#name.form-name{name: "email", placeholder: I18n.t("contacts.form.company"), type: "text"}/
  %input#name.form-name{name: "email", placeholder: I18n.t("contacts.form.email"), type: "text"}/
  %input#email.form-email{name: "password", placeholder: I18n.t("contacts.form.password"), type: "text"}/
  .button-container
    %button.btn.lightgreen
      "REGISTRATI"
