#news-single
  %span.date
    = t("news.news1.date")
  %h2.title
    = t("news.news1.title")

  .content
    .left
      %p
        = t("news.news1.text")
    .right
      = image_tag "news/news_01-02.png"