---
title: "main page"
metas: "main"
---
= partial "partials/header"
#container
  .logo-left

  #aboutus
    .left3
      %h2
        PASTE ACIDE
    .right9
      %p.desc
        Per migliorare aroma, gusto e qualità del pane. Solo dalla fermentazione di cereali in condizioni controllate.
  #table
    %table{:cellspacing => "0"}
      %thead
        %tr.odd
          %th Codice
          %th Prodotto
          %th Descrizione
          %th Applicazioni
      %tbody
        %tr.even
          %th.numeric 4146
          %td.numeric SPRING W6
          %td.numeric Pasta acida da farina di frumento
          %td.numeric Tutti i tipi di pane, mix per panificazione
        %tr.odd
          %th.numeric 4139
          %td.numeric SPRING R 10
          %td.numeric Pasta acida da farina di segale
          %td.numeric Multisemi, pani di segale, mix per panificazione
        %tr.even
          %th.numeric 4505
          %td.numeric SPRING SIENA
          %td.numeric Pasta acida da farina di segale emalto
          %td.numeric Pane di segale, mix per panificazione 
        %tr.odd
          %th.numeric 4507
          %td.numeric SPRING NORCIA
          %td.numeric Pasta acida da farina di segale,malto d’orzo tostato, germe di grano
          %td.numeric Pane integrale, ai cereali e multicereali
        %tr.even
          %th.numeric 4508
          %td.numeric SPRING ALBA
          %td.numeric Pasta acida da farina di frumento
          %td.numeric Tutti i tipi di pane 
        %tr.odd
          %th.numeric 4228
          %td.numeric SPRING FOCACCIA
          %td.numeric Pasta acida da farina di frumento
          %td.numeric Focaccia italiana
        %tr.even
          %th.numeric 4199
          %td.numeric SPRING PANE
          %td.numeric Pasta acida da farina di frumento
          %td.numeric Pane bianco dal gusto delicato
        %tr.odd
          %th.numeric 4131
          %td.numeric SPRING PANETTONE
          %td.numeric Semilavorato per dolci lievitati tradizionali
          %td.numeric Panettone
        %tr.even
          %th.numeric 4260
          %td.numeric SPRING TRADIZIONE
          %td.numeric Pasta acida per impasti a lievitazione naturale
          %td.numeric Tutti i tipi di pane,mix per panificazione
        %tr.odd
          %th.numeric 4262
          %td.numeric SPRING TRADIZIONE SF
          %td.numeric Pasta acida per impasti a lievitazione naturale
          %td.numeric Pani rustici, di qualità elevata che ricercano il gusto della tradizione
    .button-container
      %a.button{href:"/pdf/paste-acide.pdf", target: "_blank"}
        SCARICA PASTE ACIDE IN PDF 
  = partial "partials/footer"