#efree.section
  .left3
    %h2
      REGISTRAZIONE
      CONFERMATA
  .right9
    %p.desc
      La tua registrazione è stata confermata
    .button-container
      %a.button{href:"/it/login.html", target: "_blank"}
        ESEGUI LOGIN