%form#register-form.contact-form
  %input#register-username.form-name{name: "name", placeholder: I18n.t("form.name"), type: "text"}/
  %input#register-company.form-name{name: "company", placeholder: I18n.t("form.company"), type: "text"}/
  %input#register-email.form-name{name: "email", placeholder: I18n.t("form.email"), type: "email"}/
  %input#register-password.form-email{name: "password", placeholder: I18n.t("form.password"), type: "password"}/
  .button-container
    %button.btn.lightgreen
      = t("form.registration.button")
