
= partial "partials/header"
#container
  #certificate.section
    .left3
      %h2
        = t("maintainance.title")
    .right10
      %p.desc
        = t("maintainance.description-page")


  = partial "partials/footer"
