= partial "partials/header"
#container
  #login.section
    .left3
      %h2
        REGISTRAZIONE
    .right10
      %p.desc
        = t("registration.description")
      = partial "partials/registration"

  = partial "partials/footer"