//= require "footable/css/footable.core.css"

@import compass/utilities/sprites
@import compass/typography
@import h5bp
@import susy
@import compass/typography/vertical_rhythm
@import compass/support
@import compass/css3
@import compass/layout/stretching


+h5bp-normalize
+establish-baseline

$legacy-support-for-ie: true

$dark-green: #20606A
$dark-grey: #34343f
$light-green: #398993
@import "compass/utilities/tables"

@import partials/custom_mixins
@import partials/grid

$citrus: #97BF0D
$blue-chill: #398993
$blue-stone: #20606A

*:focus
  outline-style: none
  outline-width: 0px



.hyphenate
  +hyphenation

#locale
  display: none

.container
  +container($total-columns, $break)



@import partials/base

@import "partials/header"
@import "partials/solution_page"
@import "partials/landing"

@import "partials/certificate"
@import "partials/contactus"
@import "partials/table"
@import "partials/footer"
@import "partials/aboutus"
@import "partials/news"
@import "partials/banner"
@import "partials/login"
