#branding
  position: relative
  z-index: 2
#logo
  margin: 51px auto 0 auto
  +span-columns(4,6)
  +pre(1)
  height: auto


#claim
  text-align: center
  margin-top: 10px
  color: $dark-green
  +span-columns(6,6)

#img-bread
  +span-columns(6,6)
  margin-top: -40px
  margin-bottom: -100px
  position: relative
  img
    width: 100%
    height: auto


+at-breakpoint($screen $break)
  #branding
    position: relative
    z-index: 2
  #logo
    display: block
    +span-columns(4,16)
    margin-top: 72px
    +pre(6,16)

  #claim
    text-align: center
    margin-top: 25px
  #img-bread

    margin-top: -80px
    margin-bottom: -100px
    position: relative
    img
      width: 100%
      height: auto
