.product
  +span-columns(6,6)

.line1, .line2
  +span-columns(6,6)

.product.last
  +omega

#products
  .product
    margin-bottom: 40px
    margin-top: 20px

    p
      height: auto
  h3
    height: 50px

  img
    width: 100%
    height: auto
    margin-bottom: 10px
    margin-top: -50px
  .button-box
    margin-top: 0
    margin-bottom: 40px
    +span-columns(6,6)

    a.button
      +box-sizing("border-box")
      position: relative
      width: 100%
      display: block
      text-align: center
      text-decoration: none
      padding-top: 20px
      padding-bottom: 20px
      text-transform: uppercase
      font-family: "Lato", sans-serif
      +span-columns(6, 6)
      +pre(0)
      color: white
      background-color: $light-green
      &:hover
        background-color: $dark-green
        color: white
        +transition-property(background-color)
        +transition-duration(0.5s)
  a.button
    +box-sizing("border-box")
    width: 100%
    display: block
    text-align: center
    text-decoration: none
    padding-top: 20px
    padding-bottom: 20px
    color: white
    background-color: $light-green
    &:hover
      background-color: $dark-green
      color: white
      +transition-property(background-color)
      +transition-duration(0.5s)


+at-breakpoint($screen $break)
  #products
    margin-top: 40px
    .product
      margin-bottom: 40px
      margin-top: 20px
      p
        height: 200px
    h3
      height: 50px

    img
      width: 100%
      height: auto
      margin-bottom: 10px
      margin-left: -10px
    a.button

      width: 100%
      display: block
      text-align: center
      text-decoration: none
      padding-top: 20px
      padding-bottom: 20px

    .button-box

      margin-bottom: 40px
      +span-columns(8,12)

      a.button
        +box-sizing("border-box")
        position: relative

        width: 100%
        display: block
        text-align: center
        text-decoration: none
        padding-top: 20px
        padding-bottom: 20px
        text-transform: uppercase
        font-family: "Lato", sans-serif
        +span-columns(4, 8)
        +pre(4,8)

  .product.last
    +omega
  .product
    +span-columns(3,9)

  .line1, .line2
    +span-columns(9,9)